<!-- <p class="fd-component">
    Componente
</p> -->
<div class="body-contador d-flex flex-row flex-nowrap align-items-center justify-content-around">
    <td >
        <h1 class="title">{{reloj}} </h1>
     </td>
</div>
<div class="body-contador d-flex flex-row flex-nowrap align-items-center justify-content-around">
  
    <tr>   
    <button class="btn btn-outline-primary" (click)="play()">
        <i class="fa fa-play"></i> 
    </button>  
    <span>  
    </span> 
    <button class="btn btn-outline-primary" (click)="pause()">
        <i class="fa fa-pause"></i> 
    </button>  
    <span>  
    </span> 
    <button class="btn btn-outline-primary" (click)="stop()">
        <i class="fa fa-stop"></i> 
    </button>  
    <span>  
    </span> 
    <button class="btn btn-outline-primary" (click)="emitirHistorial()">
        <i class="fa fa-history text-warning cursor-pointer"></i> 
    </button> 
    <button class="btn btn-outline-primary" (click)="emitirHistorial()">
        <i class="fa fa-history text-warning cursor-pointer"></i> 
    </button> 
    

</tr>   
</div>
