<div id="sidebar-container" style="width: 280px;">
    
    <div class="menu posicion">
      <a href="#" class="nav-link active text-light p-3"  routerLink="/home/pag-principal" ><i class = "fa fa-align-justify"></i> Home</a>
      <a href="#" class="nav-link active text-light p-3"  routerLink="/catalogo/tipo-cuenta"><i class = "fa fa-address-book"></i>Productos de Banco</a>
      <a href="#" class="nav-link active text-light p-3"  routerLink="/perfil/datos-personales"><i class = "fa fa-address-card"></i>Trabaje con nosotros</a>
    </div>
  </div>
