.title{

    padding: 10px;
    color: #fff;
    background-color: rgb(63, 46, 46);
}

.posicionN{
    position: fixed;

}

// .body 
.fijada {
    position: fixed;
    //  width:30%;
    //  height: 50px;
     background-color: white;
    border: 1px solid black;
    // top:0;
    // left:0;
  }
